@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

/* Global Styling */
* {
  box-sizing: border-box;
  font-weight: 400;
  --background-color: #16161a;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --stroke: #010101;
  --main: #66fcf1;
  --secondary: #ffc107;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: var(--background-color);
}

/* Header */
header {
  display: flex;
  flex-direction: row;
}

header h1 {
  padding: 0rem 2rem;
  background-color: var(--background-color);
  color: var(--headline);
  margin: 0.5rem;
}

/* Content for page */
main {
  width: fit-content;
  margin: 2rem;
  border: 1px solid var(--main);
  border-radius: 2px;
  max-height: calc(100vh - 4rem);
  max-width: calc(100vw - 4rem);
}

/* Breach Time and Buffer */
section:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0rem 0.5rem 0rem;
}

section:first-of-type h2 {
  color: var(--headline);
  font-size: 24px;
}

section:first-of-type > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
}

section:first-of-type > div > div {
  margin-left: 1rem;
  border: 1px solid var(--main);
  background-color: var(--background-color);
}

#buffer {
  display: flex;
}

#buffer div {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border: 1px dashed var(--secondary);
  color: var(--secondary);
  font-size: 24px;
  text-align: center;
}

#timer div {
  width: 80px;
  height: 40px;
  margin: 0.5rem;
  border: 1px dashed var(--secondary);
  color: var(--secondary);
  font-size: 24px;
  text-align: center;
}

/* Code Matrix & Sequence */
section:last-of-type {
  display: flex;
  flex-direction: row;
}

/* Sequence */
#code-sequence {
  margin: 2rem;
  border: 1px solid var(--secondary);
  border-radius: 2px;
  height: fit-content;
}

#code-sequence div:first-of-type h3 {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid var(--secondary);
  font-size: 24px;
  color: var(--secondary);
}

#code-sequence-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#code-sequence-content > div {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

#code-sequence-content > div div {
  margin: 0.5rem;
  font-size: 24px;
  color: var(--secondary);
}

/* Code Matrix Grid */
#code-matrix {
  margin: 2rem;
  border: 1px solid var(--secondary);
  border-radius: 2px;
}

#code-matrix div:first-of-type h3 {
  padding: 1rem;
  margin: 0;
  background-color: var(--secondary);
  font-size: 24px;
  color: #111;
}

#code-matrix-content {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px;
  grid-template-columns: 40px 40px 40px 40px 40px;
  padding: 1rem;
}

#code-matrix-content > div {
  justify-items: center;
  color: var(--secondary);
  text-align: center;
  font-size: 24px;
}

/* Hovering over matrix */
.highlight-high:hover {
  cursor: pointer;
  border: 2px dashed var(--main);
  color: var(--main);
}

.highlight-low {
  background-color: rgba(102, 252, 241, 0.1);
}

.highlight-high {
  background-color: rgba(102, 252, 241, 0.2);
}

.sequence-complete {
  background-color: green;
}

#code-sequence-content .sequence-complete > div {
  color: #111;
}

.sequence-failed {
  background-color: red;
}

#code-sequence-content .sequence-failed div {
  color: #111;
}
