@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

/* Global Styling */
* {
  box-sizing: border-box;
  font-weight: 400;
  --background-color: #16161a;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --stroke: #010101;
  --main: #66fcf1;
  --secondary: #ffc107;
}

body {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  margin: 2rem;
  border: 1px solid var(--main);
  border-radius: 2px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: var(--background-color);
}

/* Content for page */
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Breach Time and Matrix */
section:first-of-type {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  justify-content: space-between;
}

section:first-of-type h2 {
  color: var(--headline);
  font-size: 24px;
}

section:first-of-type > div {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

section:first-of-type > div:last-of-type {
  flex-direction: column;
}

section:first-of-type > div:first-of-type {
  align-items: flex-start;
}

.buffer h2 {
  color: var(--headline);
  font-size: 24px;
}

#buffer {
  display: flex;
  border: 1px solid var(--main);
}

#buffer div {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border: 1px dashed var(--secondary);
  color: var(--secondary);
  font-size: 24px;
  text-align: center;
}

section > .timer-box {
  justify-content: space-between;
}

#timer {
  border: 1px solid var(--main);
}

#timer #time {
  width: 80px;
  height: 40px;
  margin: 0.5rem;
  border: 1px dashed var(--secondary);
  color: var(--secondary);
  font-size: 24px;
  text-align: center;
}

/* Buffer & Sequence */
section:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 500px;
}

/* Sequence */
#code-sequence {
  margin: 2rem 0;
  border: 1px solid var(--secondary);
  border-radius: 2px;
  height: 300px;
  width: 100%;
}

#code-sequence div:first-of-type h3 {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid var(--secondary);
  font-size: 24px;
  color: var(--secondary);
}

#code-sequence-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#code-sequence-content > div {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

#code-sequence-content > div div {
  margin: 0.5rem;
  font-size: 24px;
  width: 40px;
  height: 40px;
  color: var(--secondary);
  text-align: center;
}

/* Code Matrix Grid */
#code-matrix {
  margin: 2rem;
  border: 1px solid var(--secondary);
  border-radius: 2px;
  height: 300px;
}

#code-matrix div:first-of-type h3 {
  padding: 1rem;
  margin: 0;
  background-color: var(--secondary);
  font-size: 24px;
  color: #111;
}

#code-matrix-content {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px;
  grid-template-columns: 40px 40px 40px 40px 40px;
  padding: 1rem;
  justify-content: center;
}

#code-matrix-content > div {
  justify-items: center;
  color: var(--secondary);
  text-align: center;
  font-size: 24px;
}

/* Hovering over matrix */
.highlight-high:hover {
  cursor: pointer;
  border: 2px dashed var(--main);
  color: var(--main);
}

.highlight-low {
  background-color: rgba(102, 252, 241, 0.1);
}

.highlight-high {
  background-color: rgba(102, 252, 241, 0.2);
}

/* Sequence completion */
.sequence-complete {
  background-color: #4caf50;
  transition: background-color 500ms;
  border-radius: 2px;
}

.sequence-complete::before {
  content: "SUCCESS";
  text-align: center;
  font-size: 24px;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#code-sequence-content .sequence-complete div {
  color: #4caf50;
}

.sequence-failed {
  background-color: #f44336;
  border-radius: 2px;
  transition: background-color 500ms;
}

.sequence-failed::before {
  content: "FAILED";
  text-align: center;
  font-size: 24px;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#code-sequence-content .sequence-failed div {
  color: #f44336;
}

/* When user screen is too small to display all components comfortably */
@media screen and (max-width: 999px), screen and (max-height: 599px) {
  body {
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    margin: 2rem;
    border: 1px solid var(--main);
    border-radius: 2px;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: var(--background-color);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main *,
  #buffer,
  #code-matrix,
  section {
    display: none;
  }

  main::before {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: flex-end;
    justify-content: center;
    content: "Error:";
    color: var(--secondary);
    font-size: 24px;
  }

  main::after {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    content: "Terminal Size Too Small";
    color: var(--headline);
    font-size: 24px;
  }
}
